<main role="main">
    <h3 class="singer">{{partyShow.name}}</h3>
    <h3 class="song-title">{{partyShow.location}}</h3>
    <h3 class="song-title">{{partyShow.starts}}</h3>
    <h3 class="song-title">{{partyShow.host}}</h3>
</main>