<form class="form-inline flex-column" action="/events" method="POST">
  <div class="singup bd-highlight mb-5"> </div>
  <label class="sr-only" for="inlineFormInputName2"></label>
  <input type="text" name="name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName5" placeholder="Name"
    required>

  <label class="sr-only" for="inlineFormInputName2"></label>
  <input type="text" name="location" class="form-control mb-2 mr-sm-2" id="inlineFormInputName6" placeholder="Location"
    required>

  <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
  <div class="input-group mb-5 mr-sm-2">
    <input type="date" name="starts" class="form-control" id="inlineFormInputGroupUsername3" placeholder="Starts at"
      required>
  </div>

  <button type="submit" class="btn btn-outline-danger mb-2 ">makE a partY</button>
  </div>
  <span class="status-text" name="status-text"></span>
</form>

{{!-- <script src="/js/application.js"></script> --}}