<form class="form-inline flex-column" action="/signup" method="POST">
  <div class="singup bd-highlight mb-5"> </div>
  <label class="sr-only" for="inlineFormInputName2"></label>
  <input type="text" name="username" class="form-control mb-2 mr-sm-2" id="inlineFormInputName1" placeholder="username"
    required>

  <label class="sr-only" for="inlineFormInputName2"></label>
  <input type="text" name="password" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="password"
    required>

  <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
  <div class="input-group mb-5 mr-sm-2">
    <input type="email" name="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="e-mail"
      required>
  </div>

  <button type="submit" class="btn btn-outline-primary mb-2 ">Submit</button>
  </div>
  <span class="status-text" name="status-text"></span>
</form>

<script src="/js/application.js"></script>