<form class="form-inline flex-column" action="/signin" method="POST">
    <div class="singup bd-highlight mb-5"> </div>
    <label class="sr-only" for="inlineFormInputName2"></label>
    <input type="email" name="emaillog" class="form-control mb-2 mr-sm-2" id="inlineFormInputName3"
        placeholder="e-mail" required>

    <label class="sr-only" for="inlineFormInputName2"></label>
    <input type="text" name="passwordlog" class="form-control mb-2 mr-sm-2" id="inlineFormInputName4"
        placeholder="password" required>

    <div class="input-group mb-5 mr-sm-2">
    </div>
    <button type="submit" class="btn btn-outline-primary mb-2 ">Submit</button>

    <span class="status-text" name="status-text"></span>
</form>

<script src="/js/applicationlogin.js"></script>